In [8]:
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [13]:
dec23_df = pd.read_excel('Dec23.xlsx')
dec23_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
58675,7E862701EE7A6A03,classic_bike,2023-12-20 17:55:41,2023-12-20 18:00:10,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748720,-74.040487,40.75453,-74.02658,casual
58676,DFAF91AB91BE25DB,classic_bike,2023-12-13 14:36:43,2023-12-13 14:42:31,Heights Elevator,JC059,Bloomfield St & 15 St,HB203,40.748767,-74.040470,40.75453,-74.02658,member
58677,AEE7B49E6EDFAE6F,classic_bike,2023-12-18 16:40:00,2023-12-18 16:45:45,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744291,-74.034404,40.75453,-74.02658,member
58678,A38E98956AD72EFB,classic_bike,2023-12-02 13:42:51,2023-12-02 13:50:42,6 St & Grand St,HB302,Bloomfield St & 15 St,HB203,40.744398,-74.034501,40.75453,-74.02658,member
58679,F16E0B969D877368,classic_bike,2023-12-19 16:30:13,2023-12-19 16:36:54,6 St & Grand St,HB302,Clinton St & 7 St,HB303,40.744398,-74.034501,40.74542,-74.03332,member

In [14]:
jan24_df = pd.read_excel('Jan24.xlsx')
jan24_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
50656,75E5CF948A4ADB77,electric_bike,2024-01-25 20:51:27,2024-01-25 20:59:16,Willow Ave & 12 St,HB505,Clinton St & 7 St,HB303,40.751920,-74.030396,40.74542,-74.03332,casual
50657,58DD5BF65F9B9E31,electric_bike,2024-01-27 09:03:41,2024-01-27 09:08:47,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,casual
50658,F0FBCE423BE48B08,classic_bike,2024-01-28 14:46:29,2024-01-28 14:51:43,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,member
50659,7DD51CAD2DBE7990,classic_bike,2024-01-10 08:03:47,2024-01-10 08:10:55,Southwest Park - Jackson St & Observer Hwy,HB401,Clinton St & 7 St,HB303,40.737551,-74.041664,40.74542,-74.03332,casual
50660,A48A85D58AFEBAA3,electric_bike,2024-01-29 12:22:47,2024-01-29 12:25:33,Willow Ave & 12 St,HB505,Bloomfield St & 15 St,HB203,40.751956,-74.030405,40.75453,-74.02658,member

In [15]:
feb24_df = pd.read_excel('Feb24.xlsx')
feb24_df.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
55608,B4251D3376B59FF2,electric_bike,2024-02-25 09:38:44,2024-02-25 09:46:36,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.731154,-74.064473,40.721525,-74.046305,member
55609,513FF14445FD5A5E,electric_bike,2024-02-26 11:52:05,2024-02-26 12:00:49,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.730872,-74.064368,40.721525,-74.046305,member
55610,87DBD5B9091DFEC3,electric_bike,2024-02-05 17:05:38,2024-02-05 17:07:54,Montgomery St,JC099,Newark Ave,JC032,40.719487,-74.050998,40.721525,-74.046305,member
55611,8DD48EA418BCA621,electric_bike,2024-02-22 18:42:50,2024-02-22 18:46:39,York St & Marin Blvd,JC097,Newark Ave,JC032,40.719073,-74.043205,40.721525,-74.046305,member
55612,9F03340617826524,classic_bike,2024-02-28 08:39:10,2024-02-28 08:42:47,Dixon Mills,JC076,Newark Ave,JC032,40.721630,-74.049968,40.721525,-74.046305,member

In [12]:
winter_df = pd.concat([dec23_df, jan24_df, feb24_df])

winter_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DAE3C13A5FAAB089,classic_bike,2023-12-29 16:02:20,2023-12-29 16:10:17,Brunswick St,JC023,Communipaw & Berry Lane,JC084,40.724016,-74.050550,40.714358,-74.066611,member
1,1EC6BE46ACF2DE11,classic_bike,2023-12-06 01:58:32,2023-12-06 02:04:48,Brunswick St,JC023,Oakland Ave,JC022,40.724135,-74.050686,40.737604,-74.052478,casual
2,105CA439B9CBF57C,classic_bike,2023-12-06 20:15:11,2023-12-06 20:21:02,Brunswick St,JC023,Oakland Ave,JC022,40.723990,-74.050639,40.737604,-74.052478,member
3,DC1C46F6090FA1DB,classic_bike,2023-12-09 13:54:19,2023-12-09 13:56:48,Brunswick St,JC023,Manila & 1st,JC082,40.723983,-74.050732,40.721651,-74.042884,casual
4,04EAEAAD6D32A664,classic_bike,2023-12-02 17:30:34,2023-12-02 17:37:26,Brunswick St,JC023,Riverview Park,JC057,40.724011,-74.050686,40.744319,-74.043991,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55608,B4251D3376B59FF2,electric_bike,2024-02-25 09:38:44,2024-02-25 09:46:36,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.731154,-74.064473,40.721525,-74.046305,member
55609,513FF14445FD5A5E,electric_bike,2024-02-26 11:52:05,2024-02-26 12:00:49,Bergen Ave & Sip Ave,JC109,Newark Ave,JC032,40.730872,-74.064368,40.721525,-74.046305,member
55610,87DBD5B9091DFEC3,electric_bike,2024-02-05 17:05:38,2024-02-05 17:07:54,Montgomery St,JC099,Newark Ave,JC032,40.719487,-74.050998,40.721525,-74.046305,member
55611,8DD48EA418BCA621,electric_bike,2024-02-22 18:42:50,2024-02-22 18:46:39,York St & Marin Blvd,JC097,Newark Ave,JC032,40.719073,-74.043205,40.721525,-74.046305,member
55612,9F03340617826524,classic_bike,2024-02-28 08:39:10,2024-02-28 08:42:47,Dixon Mills,JC076,Newark Ave,JC032,40.721630,-74.049968,40.721525,-74.046305,member

In [16]:
winter_df.to_excel("winter_234.xlsx", index=False)